{% extends 'core/base.html' %}

{% block title %}Turnos{% endblock %}

{% block background %}{% load static %}{% static 'core/img/datos.jpg' %}{% endblock %}

{% block headers %}
	<h2>Datos Personales</h2>
	<span class="subheading">{{request.user}}</span>
{% endblock %}

{% block content %}  
<form method="post">{% csrf_token %}
	<div class="row">		
		<div class="col-md-8 col-md-offset-8">
		<div style="border-bottom:3px solid #777" class="form-group">
		<label for="{{form.paciente.nombre}}">{{form.nombre.label}}</label>{{form.nombre}}			
		</div>			
		<div style="border-bottom:3px solid #777" class="form-group">
		<label for="{{form.paciente.apellido}}">{{form.apellido.label}}</label>{{form.apellido}}			
		</div>			
		<div  style="border-bottom:3px solid #777" class="form-group">
		<label for="{{form.paciente.dni}}">{{form.dni.label}}</label>{{form.dni}}	
		</div>
		<div style="border-bottom:3px solid #777" class="form-group">
		<label for="{{form.paciente.telefono}}">{{form.telefono.label}}</label>{{form.telefono}}			
		</div>
		<div style="border-bottom:3px solid #777" class="form-group">
		<label for="{{form.paciente.domicilio}}">{{form.domicilio.label}}</label>{{form.domicilio}}			
		</div>	
		<div style="border-bottom:3px solid #777"  class="form-group">
		<label for="{{form.paciente.obra_social}}">{{form.obra_social.label}}</label>{{form.obra_social}}			
		</div>	
		</div>
	</div>
	<input style="padding: 10px;font-weight: 600;font-size: 20px;color: #ffffff;
    background-color: #1883ba;border-radius: 6px;border: 2px solid #0016b0;" type="submit" value="Actualizar">
</form>  
{% endblock %}  
