{% extends 'core/base.html' %}

{% block title %}Perfil{% endblock %}
{% block background %}{% load static %}{% static 'core/img/turnos.jpg' %}{% endblock %}
{% block headers %}
<h3>Mis Datos</h3>
<span class="subheading">Consultorio</span>
{% endblock %}

{% block content %}

<table style="vertical-align: middle;text-align:center" class="table table-bordered">
	<tr style="background:GAINSBORO;justify-content: center;text-align:center;font-weight: 600; color:black">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777"COLSPAN="2" scope="row">Datos Personales</th>	    
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">Nombre</th>
	    <td>{{paciente.nombre}}</td>
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">Apellido</th>
	    <td>{{paciente.apellido}}</td>
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">DNI</th>
	    <td>{{paciente.dni}}</td>
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">Domicilio</th>
	    <td>{{paciente.domicilio}}</td>
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">Telefono</th>
	    <td>{{paciente.telefono}}</td>
	</tr>
	<tr style="border-bottom:3px solid #777;border-top:3px solid #777;border-left:3px solid #777;border-right:3px solid #777">
	    <th style="border-bottom:3px solid #777;border-top:3px solid #777;border-right:3px solid #777">Obra Social</th>
	    <td>{{paciente.obra_social}}</td>
	</tr>	
	
</table>


{% endblock%}