{% extends 'core/base.html' %}

{% block background %}{% load static %}{% static 'core/img/datos.jpg' %}{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<div class="row">		
		<div class="col-md-6 col-md-offset-8">
			<div class="form-group">
				<label style="font-weight: 600;font-size: 20px;color:black">{{form.turno.fecha}}&nbsp&nbsp&nbspEstá seguro que desea confirmar el turno: </label><p style="padding: 15px;font-weight: 600;font-size: 20px;color: #ffffff;text-align: left;">{{form.fecha}}</p>			
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<button  class="btn btn-primary" type="submit">Confirmar Turno</button>
		</div>
	</div>
</form>
{% endblock %}